/* apply to all things in body tag */
*{
  box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 23, 23);
  }
  /* whole nav bar */
  .navbar {
    width: 100%;
    margin-top: -150px;
    overflow: hidden !important;
    background-color: rgb(13, 13, 13);
    border: hidden;
    border-radius: 5px;
    box-sizing: border-box !important;
    position: fixed;
          }
  /* nav bar content ex: home,news */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 30px 14px 30px;
    text-decoration: none;
    overflow: hidden;
  }
  /* dropdown apply to all content under dropdown ex: genre and button(all) */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  /* appy to class 'dropbtn'  */
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(42, 173, 254);
    padding: 18px 30px 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
  }
  /* hovering over all the content */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: orangered;
  }
  /* important */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #0f0e0e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* important */
  .dropdown-content a {
    float: none;
    color: rgb(47, 84, 195);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /* important */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .searchbar{
    float: right;
    margin-right: 40px;
    padding-top: 10px;
    overflow: hidden;
  }
  .searchbar input{
    background-color: rgb(56, 49, 49);
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    color: white;
    /* border outline */
    outline: none;
    overflow: hidden;
  }
  .searchbar button{
    background-color: inherit;
    border: none;
    color: white;
    font-size: inherit;
  }

  .searchresult{
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(140px,1fr)); */
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 30px;
    box-sizing: border-box;
    background-color: inherit;
    padding: 10px;
    margin: 100px 100px 100px 100px;
    /* overflow-y: scroll !important; */
    border: 1px solid white;
    
    /* overflow: scroll !important; */
  }
  ul{
    list-style-type: none;
  }
.resultimg{
max-height: 300px;
max-width: 250px;
}
.subhead{
  border: 1px solid white;
  padding: 100px;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}
.hdh3{
  border: 1px solid white;
  padding-bottom: 35px;
}
   .hdh3 ul li{
float: left;
}
