body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 23, 23);
  }
.videoNav{
float: left;

}
.videoNav ul{
    list-style-type: none;
}

.videoNav ul li a{
   text-decoration: none;
   color: white ;
}
#iconbk{
    color: rgb(45, 127, 179);
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    }
    
    .videoWrapper iframe {
    margin-left: 18rem;
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 60rem;
    height: 35rem;
    }
.episodebutton{
    padding: 3px 15px;
    color: whitesmoke;
    background-color: rgb(87, 119, 215);
}
.eplist{
    padding-top: 650px;
    padding-left: 286px;
}
@media only screen and (max-width:1000px) {
.videoWrapper iframe{
    width: 270px;
    height: 130px;
    margin-top: 100px;
    margin-left: 45px;
}    
.videoNav{
    font-size: 14px;
    margin-left: -30px;
}
.episodebutton{
    padding: 1px 10px;
}
.eplist{
    padding-top: 235px;
    padding-left:45px}

}