body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 23, 23);
  }
.videoNav{
float: left;

}
.videoNav ul{
    list-style-type: none;
}

.videoNav ul li a{
   text-decoration: none;
   color: white ;
}
#iconbk{
    color: rgb(45, 127, 179);
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    }
    
    .videoWrapper iframe {
    margin-left: 10rem;
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 60rem;
    height: 35rem;
    }